@import 'global.scss';

.about {
  padding: 3rem;
  // background: url(../img/home-background.png) no-repeat;
  // background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
}

.about-container {
  height: 600px;

  @extend .container;

  @include mq(sm) {
    height: 400px;
  }
}

.about-container__title {
  font-size: 6.4rem;

  @include mq(sm) {
    font-size: 3.6rem;
  }
}

.about-items {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  // height: 600px;
  flex-wrap: wrap;
  padding-top: 3rem;

}

.about-items__topic {
  width: 20%;
  height: fit-content;
  padding-top: 30px;
  font-size: 3.6rem;

  @include mq(sm) {
    font-size: 2.4rem;
  }
}

.about-items__content {
  width: 80%;
  height: fit-content;
  padding-top: 30px;
  font-size: 3.6rem;

  @include mq(sm) {
    font-size: 2.4rem;
  }
}