.about {
  height: 850px;

  &__title {
    font-size: 6.4rem;
  }

  &__item-container {
    display: flex;
    width: 800px;
    height: 200px;
    flex-wrap: wrap;
    align-items: baseline;
    padding-top: 30px;


    &--topic {
      font-size: 3.6rem;
      width: 20%;
    }

    &--content {
      font-size: 3.6rem;
      width: 80%;
    }
  }
}