.contact__header {
  padding-top: 30px;
  font-size: 6.4rem;
}

.contact__email {
  padding-top: 30px;
  font-size: 3.6rem;
}

.content {
  width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}