html {
  font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.home-container {
  // background: url(../img/home-background.png) no-repeat;
  // background-size: cover;
  background-color: rgba(0,0,0,0.8);
}


.about-container {
  padding: 30px 0 0;
  // background: url(../img/home-background.png) no-repeat;
  // background-size: cover;
  background-color: rgba(0,0,0,0.8);
}

.about-container::after {
  // content: '';
  // background-color: rgba(0,0,0,0.8);
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
}
.skills-container {
  padding: 30px 0 0;
  // background: url(../img/home-background.png) no-repeat;
  // background-size: cover;
  background-color: rgba(0,0,0,0.7);
}

.skills-container::after {
  // content: '';
  
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
}

.products-content {
  padding: 30px 0 0;
  background-color: rgba(0,0,0,0.85);
  // background: url(../img/home-background.png) no-repeat;
  // background-size: cover;
}

.products-container::after {
  // content: '';
  
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
}


.content {
  width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}