html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #ffffff;
  background-color: #000000;
  // IOSでハンバーガーメニューをfixedにするようの記述
  // overflow: hidden;
}

// IOSでハンバーガーメニューをfixedにするようの記述
.wrapper {
  overflow-y: scroll;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}

$breakpoint-sm: 480px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1024px !default;

$breakpoints: ('sm': 'screen and (max-width: 480px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1024px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}