@import 'global.scss';

.home {
  background-color: rgba(0, 0, 0, .6);
}

.home-container {
  @extend .container;
  height: 850px;
  text-align: center;
  padding-top: 70px;

  @include mq(sm) {
    height: 500px;
  }
}

.home-content__icon {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(../img/icon.png);
  background-size: cover;

  @include mq(sm) {
    width: 80px;
    height: 80px;
  }
}

.home-content__typography {
  display: inline-block;
  padding: 2rem;
  font-size: 7.2rem;

  @include mq(sm) {
    font-size: 3.6rem;
  }
}

.home-content__sns {
  display: block;
  color: white;
}