.home {
  background-color: rgba(0,0,0,.6);
}

.home-container {
  height: 850px;
  position: relative;
  z-index: 1;
  width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}

.home-content {
  width: 550px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10rem;
}

.home-content__icon {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(../img/icon.png);
}

.home-content__typography {
  padding: 2rem;
  font-size: 7.2rem;
}

.home-content__sns {
  color: white;
}