@import 'global.scss';

.products {
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.85);
}

.products-container {
  @extend .container;
}

.products__header {
  font-size: 6.4rem;

  @include mq(sm) {
    font-size: 3.6rem;
  }
}

.products-content__item {
  width: 50%;
  // height: 500px;
  padding-bottom: 30px;
  box-sizing: border-box;

  @include mq(sm) {
    width: 100%;
  }
}

.products-content__image {
  position: relative;
  // width: 500px;
  // height: 300px;

  @include mq(sm) {
    width: 300px;
  }

  &:hover>div {
    opacity: 1;
  }
}

.products-content__header {
  width: 100%;
  padding-top: 30px;
  font-size: 32px;

  @include mq(sm) {
    font-size: 2.4rem;
  }
}

.products-content__text {
  width: 100%;
  word-break: break-all;
  line-height: 1.5;
  font-weight: 300;
  padding-top: 10px;
  font-size: 24px;

  @include mq(sm) {
    font-size: 1.6rem;
  }
}


.products-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}

.tags {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 300ms 0s ease;
}

.tags__container {
  display: flex;
  width: 80%;
  justify-content: center;
  box-sizing: border-box;
  padding: 80px 0 0 0;
  // border: solid 1px white;
  overflow: auto;
  margin: 0 auto;
  flex-wrap: wrap;
  overflow: hidden;
}

.tags__item {
  display: flex;
  background-color: #303030;
  padding: 5px 10px;
  margin: 10px 0 0 5px;
}

.tags__item-text {
  padding-left: 10px;
  font-size: 24px;
}

.tags__link {
  width: 100%;
  padding-top: 30px;
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
}